/* Fonts */
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:local('Open Sans Regular'),local('OpenSans-Regular'),url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}
@font-face {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
    unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}
/* General */
body{
    background:#f0f0f0;
    background: linear-gradient(45deg, rgba(254,254,254,1) 0%, rgba(246,240,252,1) 50%, rgba(235,250,255,1) 100%);
    font:16px/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-y:scroll
}
body,a,a:hover,a:focus,caption{
    color:#333
}
a{
    text-decoration:none
}
a:hover,a:focus{
    text-decoration:underline
}
abbr[title] {
    border-bottom: none;
	text-decoration: none;
}

.hidden, .filtered{
    display:none !important
}

article {
    padding: 1.25em;
    margin: 1em auto;
    width:87em;
}
header, table {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}
/* Header */
header {
    background: #de3441;
    background: linear-gradient(110deg, rgb(222, 52, 65) 90%, rgb(191, 39, 51) 90%);
    color:#fefefe;
    position: relative;
    padding: 0.5em;
    height: 5em;
    margin: 0 0 2em;
}
h1 {
    display: inline-block;
    font-size:1.5em;
    line-height: 2;
    margin: 0;
    padding: 0 0 0 1em;
    vertical-align: middle;
    width: 70%;
}
h1 a {
    color: #fefefe
}
dl {
    display: inline-block;
    width: 12em;
    vertical-align: middle;
    }

dd,dt {
    display: inline-block;
    margin: 0;
}
dt {
    font-weight: 700;
    width: 2.5em;
}
dd {
    width: 9.5em;
}
/* Loading screen */
#loader{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:9999;
    background:#43b2e0
}
#loader img{
    width:48px; height:48px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-24px 0 0 -24px;
    -webkit-transition:opacity .2s;
    transition:opacity .2s;
    -webkit-animation-duration:.8s;
    animation-duration:.8s;
    -webkit-animation-name:spin;
    animation-name:spin;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out
}
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(0deg)}
    100%{
        -webkit-transform:rotate(360deg)} }
@keyframes spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)}
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)} }
/* Filters */
.filter{
    display:inline-block;
    margin:0 1em 1em 0;
    position: relative;
}
.filter:nth-child(4n) {
    margin-right:0
}
.filter label{
    vertical-align:middle;
    display: inline-block;
    padding:0 1em 0;
    width:6.5em;
    text-align:center;
}
.filter > label{
    line-height: 2em;;
    background:#dadad8;
    width:8.5em;
    color:#010101
}
.filter button, #search-bar{
    width:10.5rem;
    border:none;
    padding:0.375rem 0.1875rem;
    font-size:.875em;
    line-height: 1.125rem;
    background:#fff;
    color:inherit;
    cursor: pointer;
    border:1px solid transparent;
    vertical-align:middle
}
.filter:not(.disabled) button::after{
    display: inline-block;
    width:0;
    height:0;
    content:'';
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 1em;
    right: 1em;
}
.filter button:hover,
.filter.active button,
.filter.disabled button{
    background:#e6e6e6
}
.filter.disabled button{
    cursor: auto;
}
.filter:not(.active) .dropdown-menu{
    display:none
}
.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 10.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 999;
    font-size: 0.875em;
    min-width: 10.5rem;
    text-align: left;
    border: 1px solid #dadad8;
    background: #fefefe;
}
.filter[data-type$=ball] .dropdown-menu,
.filter[data-type$=ball] .dropdown-menu li label[for$=all],
.filter[data-type$=egg-group] .dropdown-menu,
.filter[data-type$=egg-group] .dropdown-menu li label[for$=all]{
    width:21rem
}
.dropdown-menu li{
    position: relative;
    display: inline-block;
    min-width: 10.5rem;
}
.dropdown-menu li:hover{
    background: #f5f5f5;
}
.dropdown-menu li.active{
    background: #428bca;
    color: #f0f0f0;
}
.dropdown-menu li label{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0.25rem 1rem 0.375rem 2rem;
    cursor: pointer;
    margin: 0;
    text-align: left;
}
.dropdown-menu li input{
    position: absolute;
    left: .5em;
    top: .375em;
    font-size: inherit;
}

/* Reddit Table */
#copy2reddit {
    margin: 2em 0 0
}
#copy2reddit .filter{
    margin-right:0
}
#copy2reddit .filter > label {
    width: 30.5em;
    background: #dadad8;
    margin:0;
    position:relative;
}
#copy2reddit .dropdown-menu {
    left:32.5rem;
    width:21rem;
}

#markdown {
    font-family:Consolas,monaco,monospace;
    font-size:0.75em;
    height:15em;
    overflow:scroll;
    background:#fff;
    padding:0.5em;
    border:0.0625em solid #ccc;
}
#markdown .line {
    white-space: nowrap;
    word-wrap: break-word;
}

/* Footer */
[role="contentinfo"] {
    padding: 1.5em 0 0;
    font-size: 0.75em;
    text-align: right
}

/* Table */
table {
    border-collapse:collapse;
    border-spacing:0;
    background: #fefefe;
    line-height: 1;
    margin:1em 0 0;
    width: 100%
}
table thead tr {
    color: #fdfdfd;
    background: #010101
}
thead th { border-bottom: 0.25em solid #010101; }
thead th.hp { border-bottom-color:#77f296; }
thead th.atk { border-bottom-color:#f4e585; }
thead th.def { border-bottom-color:#ffb17a; }
thead th.spa { border-bottom-color:#88dee3; }
thead th.spd { border-bottom-color:#859fff; }
thead th.spe { border-bottom-color:#d880ff; }
td, th {
    text-align: center;
    padding: 0.375em 0.5em;
    vertical-align: middle;
}
td {
    border-bottom:1px solid #dadad8
}
tr {
    position:relative
}
td.sprite{padding:0; width:4.25em; height: 3.5em;}
td.sprite, td.name, td.hp, td.atk, td.def, td.spa, td.spd, td.spe { white-space:nowrap }
td.hp, td.atk, td.def, td.spa, td.spd, td.spe { width:2.625em }
td.hp.rows2, td.atk.rows2, td.def.rows2, td.spa.rows2, td.spd.rows2, td.spe.rows2 { font-size:0.75em;line-height:1.45 }
td.poke-balls { width:6.625em }
td.hidden-power { width:3.125em }
td.name, td.trainer, td.nature, td.ability, td.moves, td.egg-moves { text-align:left }
td.moves,td.egg-moves { line-height:1.45 }

.gender{
    font-family:"Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols"
}
.gender.female { color:#f6807a }
.gender.male { color:#499fff }

td.name .form,td.name .nickname,td.trainer .tid { font-size:0.75em }

tr:hover td {
    background-color: rgba(67,178,224,0.5);
    cursor:cell
}
tr.selected td {
    background-color: #dadad8;
}
tr.selected:hover td {
    background-color: rgba(213,58,58,0.25);
    cursor:not-allowed
}

[data-has-hidden-ability=true] .ability { font-style: italic; }

/* Natures */
[data-nature=Adamant] td.atk, [data-nature=Brave] td.atk, [data-nature=Lonely] td.atk, [data-nature=Naughty] td.atk,
[data-nature=Bold] td.def, [data-nature=Impish] td.def, [data-nature=Relaxed] td.def,
[data-nature=Modest] td.spa, [data-nature=Mild] td.spa, [data-nature=Rash] td.spa, [data-nature=Quiet] td.spa,
[data-nature=Calm] td.spd, [data-nature=Careful] td.spd, [data-nature=Sassy] td.spd,
[data-nature=Jolly] td.spe, [data-nature=Timid] td.spe, [data-nature=Hasty] td.spe, [data-nature=Naive] td.spe{ color: #f35b96; }

[data-nature=Modest] td.atk, [data-nature=Timid] td.atk, [data-nature=Calm] td.atk, [data-nature=Bold] td.atk,
[data-nature=Lonely] td.def, [data-nature=Mild] td.def, [data-nature=Hasty] td.def,
[data-nature=Adamant] td.spa, [data-nature=Jolly] td.spa, [data-nature=Impish] td.spa,[data-nature=Careful] td.spa,
[data-nature=Naive] td.spd, [data-nature=Rash] td.spd, [data-nature=Naughty] td.spd,
[data-nature=Brave] td.spe, [data-nature=Quiet] td.spe, [data-nature=Sassy] td.spe, [data-nature=Relaxed] td.spe{ color: #45c6f0; }

/* Screens */
@media screen and (max-width: 89.5em) {
    article {
        width:65em;
    }
    .filter:nth-child(3n) {
        margin-right:0
    }
    .filter:nth-child(4n) {
        margin-right:1em
    }
}
@media screen and (max-width: 67.5em) {
    article {
        width:43em;
    }
    .filter:nth-child(2n) {
        margin-right:0
    }
    .filter:nth-child(3n) {
        margin-right:1em
    }
    header{
        height:auto
    }
    header dl, .ms, .ivs, .hp, .atk, .def, .spa, .spd, .spe {
        display: none !important
    }
    table {
        font-size: 0.875em;
    }    
    td.sprite,td.sprite.up {
        padding:0;
        max-width:0;
    }    
}

/* Item Sprites */
.item-sprite{
    display:inline-block;
    text-indent:-999em;
	width:1.625em;height:1.625em;
	margin: 0.375em 0.125em;
	background-image:url(img/itemsprites.png)
}
.item-sprite.master-ball{background-position:-26px 0}
.item-sprite.ultra-ball{background-position:-52px 0}
.item-sprite.great-ball{background-position:-78px 0}
.item-sprite.poke-ball{background-position:-104px 0}
.item-sprite.safari-ball{background-position:-130px 0}
.item-sprite.net-ball{background-position:-156px 0}
.item-sprite.dive-ball{background-position:-182px 0}
.item-sprite.nest-ball{background-position:-208px 0}
.item-sprite.repeat-ball{background-position:-234px 0}
.item-sprite.timer-ball{background-position:-260px 0}
.item-sprite.luxury-ball{background-position:-286px 0}
.item-sprite.premier-ball{background-position:-312px 0}
.item-sprite.dusk-ball{background-position:-338px 0}
.item-sprite.heal-ball{background-position:-364px 0}
.item-sprite.quick-ball{background-position:-390px 0}
.item-sprite.cherish-ball{background-position:-416px 0}
.item-sprite.fast-ball{background-position:-416px -260px}
.item-sprite.level-ball{background-position:-442px -260px}
.item-sprite.lure-ball{background-position:-468px -260px}
.item-sprite.heavy-ball{background-position:-494px -260px}
.item-sprite.love-ball{background-position:0 -286px}
.item-sprite.friend-ball{background-position:-26px -286px}
.item-sprite.moon-ball{background-position:-52px -286px}
.item-sprite.sport-ball{background-position:-78px -286px}
.item-sprite.dream-ball{background-position:-416px -312px}
.item-sprite.beast-ball{background-position:-312px -442px}

/* Menu Sprites */
[data-pokemon] .ms{
    display:inline-block;
    text-indent:-999em;
    width:4.25em;
    height:3.5em;
    background-image:url(https://plan.pokemonteams.io/static/img/ms_gen8.png);
    position: absolute;
    left:0
}
tr:not([data-pokemon$=gmax]) .ms { top:-.5em; }
tr:not([data-pokemon$=gmax]) .sprite.up .ms { top:-.625em }
tr[data-pokemon$=gmax] .ms { top:0 }
tr[data-pokemon$=gmax] .sprite.up .ms { top:-.125em }

